{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="welcome">
        <p>Explore review of products</p>
    </div>
    <div class="content">
        <h1>Search</h1>
        <h5>(*enter perticular prodect name i.e : apple iphone 12 pro max) </h5>

        <div class="form">
            <form action="/review" method="POST">
                <input type="text" name="content" id = "content">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="credits">
            <p>*created and handeled by</p>
            <p> Rutul Virani </p>
            <p> Mitul Nagani </p>
            <p> Prutha Desai </p>
        </div>
    </div>

{% endblock %}
